In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os

PATH_TO_DATA = '../data/'
PATH_TO_OUTPUT_DATA = '../output-data/'
MASTER_DF = pd.read_csv(PATH_TO_OUTPUT_DATA + 'COVARIATE_MASTER.csv')

In [2]:
# get only 2000: MASTER_DF[(MASTER_DF.dt).apply(lambda x: x.year) == 2000]
MASTER_DF

             date  game_id team player_id  AB  RS  H  HR  TB  BB  SF
0        20000329        0  NYN  hendr001   1   0  1   0   1   0   0
1        20000329        0  CHN  giraj001   1   0  0   0   0   0   0
2        20000329        0  NYN  ventr001   1   0  0   0   0   0   0
3        20000329        0  NYN  belld001   1   0  0   0   0   0   0
4        20000329        0  NYN  zeilt001   1   0  0   0   0   0   0
...           ...      ...  ...       ...  ..  .. ..  ..  ..  ..  ..
4381104  20190929        0  KCA  dozih001   1   0  0   0   0   0   0
4381105  20190929        0  KCA  solej001   1   1  1   1   4   0   0
4381106  20190929        0  KCA  merrw001   1   0  0   0   0   0   0
4381107  20190929        0  KCA  mcbrr001   1   0  1   0   1   0   0
4381108  20190929        0  DET  stewc002   1   0  0   0   0   0   0

[4381109 rows x 11 columns]

In [10]:
# drop 50k irrelevant rows
MASTER_AGG_DF = MASTER_DF.drop(columns=['game_id']).groupby(['team', 'date']).sum().reset_index()

In [12]:
MASTER_AGG_DF.to_csv(PATH_TO_OUTPUT_DATA + 'COV_AGGREGATE.csv', index = False)

In [14]:
MASTER_AGG_DF['AVG'] = MASTER_AGG_DF['H']/MASTER_AGG_DF['AB']

In [18]:
MASTER_AGG_DF.sort_values(by = 'AVG')[:10]

      team      date  AB  RS  H  HR  TB  BB  SF  AVG
24995  CIN  20160421  27   0  0   0   0   4   0  0.0
71531  SDN  20010903  28   0  0   0   0   4   0  0.0
73570  SDN  20140625  27   0  0   0   0   1   0  0.0
9805   BAL  20010404  28   0  0   0   0   3   0  0.0
84460  TBA  20020427  27   0  0   0   0   1   0  0.0
67129  PHI  20140525  28   0  0   0   0   3   0  0.0
85656  TBA  20090723  27   0  0   0   0   0   0  0.0
38553  HOU  20080914  26   0  0   0   0   2   0  0.0
15714  BOS  20180421  28   0  0   0   0   2   0  0.0
10892  BAL  20070901  27   0  0   0   0   4   0  0.0