In [48]:
import pandas as pd
from retrosheet_scraper import get_retrosheet_data
import time
import os

In [49]:
MASTER_DF = pd.DataFrame( 
            columns = ['date', 'game_id', 'team', 'player_id', 'AB', 'RS', 'H', 'HR', 'TB', 'BB', 'SF'])

In [50]:
start_time = time.time()
for file in os.listdir('../data/event'):
    MASTER_DF = MASTER_DF.append(get_retrosheet_data(file))
    
final_time = time.time() - start_time
print("--- " + str(round((final_time)*10000)/10000) + " seconds ---")

--- 476.9616 seconds ---

In [51]:
MASTER_DF

          date game_id team player_id AB RS  H HR TB BB SF
0     20090406       0  WAS  milll002  1  0  0  0  0  0  0
1     20090406       0  WAS  guzmc001  1  0  0  0  0  0  0
2     20090406       0  WAS  zimmr001  1  0  0  0  0  0  0
3     20090406       0  FLO  bonie001  1  0  1  0  1  0  0
4     20090406       0  FLO  bakej002  0  0  0  0  0  0  0
...        ...     ...  ...       ... .. .. .. .. .. .. ..
7722  20171001       0  CHN  davit004  0  0  0  0  0  0  0
7723  20171001       0  CHN  davit004  1  0  0  0  0  0  0
7724  20171001       0  CHN  almoa002  1  1  1  1  4  0  0
7725  20171001       0  CHN  freem002  1  0  0  0  0  0  0
7726  20171001       0  CHN  zobrb001  1  0  0  0  0  0  0

[4381109 rows x 11 columns]

In [63]:
MASTER_DF = MASTER_DF.sort_values(by = 'date', ascending = True).reset_index(drop = True)

In [62]:
len(MASTER_DF[MASTER_DF.game_id != '0'].groupby('date'))

452

In [69]:
import datetime as dt

MASTER_DF['date'] = MASTER_DF['date'].apply(lambda x: dt.date(int(x[0:4]), int(x[4:6]), int(x[6:8])))

In [71]:
MASTER_DF.rename({'date': 'dt'}, axis = 1, inplace = True)

In [91]:
MASTER_DF['Y'] = (MASTER_DF.dt).apply(lambda x: x.year)
MASTER_DF['M'] = (MASTER_DF.dt).apply(lambda x: x.month)
MASTER_DF['D'] = (MASTER_DF.dt).apply(lambda x: x.day)

In [94]:
MASTER_DF = MASTER_DF[['dt', 'Y', 'M', 'D', 'game_id', 'team', 'player_id', 
                       'AB', 'RS', 'H', 'HR', 'TB', 'BB', 'SF']]

In [95]:
MASTER_DF.head()

           dt     Y  M   D game_id team player_id AB RS  H HR TB BB SF
0  2000-03-29  2000  3  29       0  NYN  hendr001  1  0  1  0  1  0  0
1  2000-03-29  2000  3  29       0  CHN  giraj001  1  0  0  0  0  0  0
2  2000-03-29  2000  3  29       0  NYN  ventr001  1  0  0  0  0  0  0
3  2000-03-29  2000  3  29       0  NYN  belld001  1  0  0  0  0  0  0
4  2000-03-29  2000  3  29       0  NYN  zeilt001  1  0  0  0  0  0  0

In [96]:
PATH_TO_OUTPUT_DATA = '../output-data/'
MASTER_DF.to_csv(PATH_TO_OUTPUT_DATA + 'COVARIATE_MASTER.csv', index = False)