In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os

PATH_TO_DATA = '../data/'
PATH_TO_OUTPUT_DATA = '../output-data/'
MASTER_DF = pd.read_csv(PATH_TO_OUTPUT_DATA + 'COVARIATE_MASTER.csv')

In [2]:
# get only 2000: MASTER_DF[(MASTER_DF.dt).apply(lambda x: x.year) == 2000]
MASTER_DF

             date  game_id team player_id  AB  RS  H  HR  TB  BB  SF
0        20000329        0  NYN  hendr001   1   0  1   0   1   0   0
1        20000329        0  CHN  giraj001   1   0  0   0   0   0   0
2        20000329        0  NYN  ventr001   1   0  0   0   0   0   0
3        20000329        0  NYN  belld001   1   0  0   0   0   0   0
4        20000329        0  NYN  zeilt001   1   0  0   0   0   0   0
...           ...      ...  ...       ...  ..  .. ..  ..  ..  ..  ..
4381104  20190929        0  KCA  dozih001   1   0  0   0   0   0   0
4381105  20190929        0  KCA  solej001   1   1  1   1   4   0   0
4381106  20190929        0  KCA  merrw001   1   0  0   0   0   0   0
4381107  20190929        0  KCA  mcbrr001   1   0  1   0   1   0   0
4381108  20190929        0  DET  stewc002   1   0  0   0   0   0   0

[4381109 rows x 11 columns]